.navtext{
  margin-top: 48px;
  color:white;
}

@media (max-width: 950px){
  .navtext{
    font-size: 40px;
  }
}

@media (max-width: 800px){
  .navtext{
    font-size: 35px;
  }
}

a{
  text-decoration:none;
  color: white;
}
a:hover{
  color:#434652;
  text-decoration:underline;
}

.nav{
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  margin-top: 0px;
  height: 150px;
  background-color: #b9a398;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 50px;
  text-decoration: none;
  cursor: pointer;


  }

.homeheader{
  margin-top: 50px;
  margin-left: 50px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 30px;
  border-radius: 25px;
  border: 7px solid #b9a398;
  width: 550px;
  height: 100px;
}

.welcome{
  color:#434652;
  margin-top: 20px;
  margin-left: 130px;
  font-weight: 100;
}

.about{
  color:#434652;
  margin-top: 20px;
  margin-left: 7px;
  font-weight: 100;
}


.rectangle {
  height: 7px;
  margin-top: -60px;
  margin-left: 610px;
  background-color: #b9a398;
}

.homep{
  color:#434652;
  font-family: "Garamond", monospace;
  margin-top: 100px;
  margin-left: 55px;
  font-size: 40px;
  text-align: center;
}

.homep1{
  color:#434652;
  font-family: "Garamond", monospace;
  margin-top: 50px;
  margin-left: 55px;
  font-size: 30px;
  text-align: center;
}

.homep2{
  color:#434652;
  font-family: "Garamond", monospace;
  margin-top: 50px;
  margin-left: 55px;
  font-size: 30px;
  text-align: center;
}

.name1{
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 30px;
  font-weight: 100;
  margin-left: 120px;
  margin-bottom: 55px;
  display:inline-block;
  height: 60px;
  width: 420px;
  background-color: #b9a398;
  border-radius: 25px;
  text-align: center;
  padding-top: 10px;
}

img{
  float: right;
  margin-right: 5%;
}

@media (max-width: 950px){
  .img{
    float:inline-end;
    margin-right: 5%;
  }
  .profiletext{
      font-size: 20px;
  }
}


.title{
  margin-top: 2px;
  font-size: 15px;
}

.namelink{
  margin-top: 100px;
  display:inline-block;
  margin-left: auto;
}

a.name1:link {
  color:white;
  text-decoration:none;
}

a.name1:visited{
  color:white;
  text-decoration:none;
}

a.name1:hover{
  color:#434652;
  text-decoration:underline;
}

a.name2:link {
  color:#434652;
  text-decoration:none;
}

a.name2:visited{
  color:#434652;
  text-decoration:none;
}

a.name2:hover{
  color:#434652;
  text-decoration:underline;
}

a.nav:hover{
  color:white;
  text-decoration:underline;
}

.hello{
  font-family: "Garamond", monospace;
  font-size: 40px;
  color:#434652;
  margin-left: 50px;
  margin-top: 50px;
}

.nametitle{
  font-family: "Lucida Console", "Courier New", monospace;
  color: #b9a398;
  font-weight: 100;
  font-size: 60px;
  margin-left: 50px;
  margin-top: -10px;
  margin-bottom: 20px;
  
}

.profiletext{
  font-family: "Garamond", monospace;
  color:#434652;
  font-weight: 100;
  margin-left: 55px;
  width: 60%;
  font-size: 30px;
  margin-top: -10px;
  margin-right: 55px;
  display: inline-block;
} 